body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 'Droid Serif';
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  border-color: rgb(0, 0, 0);
}

.container .text {
  position: relative;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-13 p {
  margin-bottom: 1em;
}

._element {
  width: 0.254129606%;
  height: 66px;
  margin-left: 51.70346%;
  border-width: 1px;
  border-style: solid;
}

.container-1 {
  position: relative;
  clear: both;
  z-index: 11;
  width: 25.2221760221%;
  height: 206px;
  margin: 42px 0 0 23.59884%;
  border-width: 2px;
  border-style: solid;
}

.container-2 {
  position: relative;
  z-index: 2;
  width: 219.7508356122%;
  height: 672px;
  margin: -130px 0 0 -61.54447%;
  border-width: 2px;
  border-style: double;
}

.container-3 {
  width: 100.254129606%;
  height: 67px;
  margin: 602px 0 0 -0.00199%;
  border-width: 1px;
  border-style: solid;
}

.text-1 {
  position: relative;
  z-index: 15;
  width: 13.5135135135%;
  min-height: 29px;
  margin: 12px 0 0 12.07121%;
}

.text-10 {
  z-index: 9;
  width: 48.0948611111%;
  min-height: 12px;
  margin: -192px 0 0 50.84429%;
}

.text-11 {
  z-index: 8;
  width: 27.2566666666%;
  min-height: 24px;
  margin: -164px 0 0 18.77849%;
}

.text-12 {
  z-index: 10;
  width: 36.3888888888%;
  min-height: 25px;
  margin: -164px 0 0 50.82259%;
}

.text-13 {
  position: relative;
  clear: both;
  z-index: 17;
  width: 23.9085239085%;
  min-height: 158px;
  margin: -175px 0 0 24.8787248787%;
}

.text-14 {
  position: relative;
  z-index: 16;
  width: 19.1268191268%;
  min-height: 51px;
  margin: -206px 0 0 28.27443%;
}

.text-15 {
  width: 14.8995148995%;
  min-height: 34px;
  margin: 275px 0 0 9.35551%;
}

.text-2 {
  position: relative;
  z-index: 12;
  width: 16.2162162162%;
  min-height: 29px;
  margin: 12px 0 0 4.81419%;
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 15.5232155232%;
  min-height: 45px;
  margin-left: 12.07121%;
}

.text-4 {
  position: relative;
  z-index: 14;
  width: 15.8697158697%;
  min-height: 27px;
  margin: 6px 0 0 3.93603%;
}

.text-5 {
  clear: both;
  z-index: 3;
  width: 39.4495811086%;
  min-height: 32px;
  margin: -318px 0 0 2.05756%;
}

.text-6 {
  z-index: 4;
  width: 56.1184181968%;
  min-height: 22px;
  margin: -318px 0 0 34.297%;
}

.text-7 {
  z-index: 5;
  width: 54.5051736111%;
  min-height: 26px;
  margin: -286px 0 0 14.6243%;
}

.text-8 {
  z-index: 6;
  width: 43.6167903806%;
  min-height: 25px;
  margin: -248px 0 0 29.5785%;
}

.text-9 {
  z-index: 7;
  width: 33.6699999999%;
  min-height: 28px;
  margin: -192px 0 0 18.77849%;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-14 strong {
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
  word-spacing: 0;
}

.text-5 strong,
.text-8 strong {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  word-spacing: inherit;
}